.cover__link {
  min-height: 740px;
  max-width: 1184px;
  z-index: 2;
  position: relative;

  text-decoration: none;
  transition: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__link:hover {
  background-color: #2A2C2F;
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .cover__link {
    width: 100%;
    min-height: 640px;
  }  
}

@media (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }  
}

@media (max-width: 767px) {
  .cover__link {
    min-width: 425px;
    min-height: 266px;
  }  
}

@media (max-width: 424px) {
  .cover__link {
    min-width: 320px;
    min-height: 200px;
  }  
}