.lead__title {
  margin: 0;

  max-width: 720px;

  font-weight: 900;
  font-size: 96px;
  line-height: 100px;

  color: #fff;
  text-align: center;
}

@media (min-width: 425px) and (max-width: 767px) {
  .lead__title {
    max-width: 288px;

    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .lead__title {
    max-width: 288px;

    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}