.footer__copyright {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #fff;
}

@media (min-width: 425px) and (max-width: 767px) {
  .footer__copyright {
    padding-top: 48px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .footer__copyright {
    padding-top: 48px;
  }
}