.cover {
  margin: 0 auto;
  min-height: 740px;
  max-width: 1184px;

  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cover::before {
  content: "";
  background-color: #2A2C2F;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  opacity: 0.3;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    margin: 0;
    width: 100%;
    min-height: 640px;
  }  
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    min-height: 480px;
  }  
}

@media (min-width: 425px) and (max-width: 767px) {
  .cover {
    min-width: 425px;
    min-height: 266px;
  }  
}

@media (min-width: 320px) and (max-width: 424px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
  }  
}